opencv/
build/
Prove_cpp/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.clang_complete
data.dat
dashboard_demo
libdashboard.a
