<?xml version="1.0" encoding="utf-8"?>
<PlotConfig>
    <PlotSetting type="preamble">set style line 1 lc rgb '#0060ad' lt 1 lw 2 pt 7 ps 1.5</PlotSetting>
    <PlotSetting type="preamble">set style line 2 lc rgb '#0090aa' lt 1 lw 2 pt 7 ps 1.5</PlotSetting>
    <PlotSetting type="preamble">set xrange [* : *]</PlotSetting>
    <PlotSetting type="preamble">set yrange [0 : *]</PlotSetting>
    <PlotSetting type="preamble">set title "Simple Plot" font ",20"</PlotSetting>
    <PlotSetting type="delimiter">;</PlotSetting>
    <PlotSetting type="howManyDataToPlot">3</PlotSetting>
    <PlotSetting type="plotOption">'-' using 1:2 with lines ls 1 title "Funct 1", </PlotSetting>
    <PlotSetting type="plotOption">'-' using 1:3 with lines ls 2 title "Funct 2" </PlotSetting>
</PlotConfig>
<MosquittoConfig>
  <MosquittoSetting type="clientName">myProva</MosquittoSetting>
  <MosquittoSetting type="topic">home/prova</MosquittoSetting>
  <MosquittoSetting type="hostAddress">127.0.0.1</MosquittoSetting>
  <MosquittoSetting type="hostPort">1883</MosquittoSetting>
  <MosquittoSetting type="QoS">1</MosquittoSetting>
</MosquittoConfig>
<MainConfig>
  <MainSetting type="execTimeSeconds">0</MainSetting>
</MainConfig>
