<?xml version="1.0" encoding="utf-8"?>
<MainConfig>
  <MainSetting type="execTimeSeconds">0</MainSetting>
  <MainSetting type="windowsQuantity">4</MainSetting>
</MainConfig>

<MosquittoConfig>
  <MosquittoSetting type="clientName">myProva</MosquittoSetting>
  <MosquittoSetting type="topic">home/prova</MosquittoSetting>
  <MosquittoSetting type="hostAddress">127.0.0.1</MosquittoSetting>
  <MosquittoSetting type="hostPort">1883</MosquittoSetting>
  <MosquittoSetting type="QoS">1</MosquittoSetting>
</MosquittoConfig>

<!-- <PlotConfig_N> where N is a sequential index from 1 to "windowsQuantity" -->
<PlotConfig_1>
  <PlotSetting type="preamble">set title "Simple Plot 1" font ",20"</PlotSetting>
  <PlotSetting type="delimiter">;</PlotSetting>
  <PlotSetting type="howManyDataToPlot">10</PlotSetting>
  <PlotSetting type="preamble">set xrange [* : *]</PlotSetting>
  <PlotSetting type="preamble">set yrange [0 : *]</PlotSetting>
  <PlotSetting type="id">1</PlotSetting>

  <PlotSetting type="preamble">set style line 1 lc rgb '#440000' lt 1 lw 2 pt 7 ps 1.5</PlotSetting>
  <PlotSetting type="plotOption">'-' using 1:2 with lines ls 1 title "Funct 1-1"</PlotSetting>

  <PlotSetting type="preamble">set style line 2 lc rgb '#880000' lt 1 lw 2 pt 7 ps 1.5</PlotSetting>
  <PlotSetting type="plotOption">'-' using 1:3 with lines ls 2 title "Funct 1-2"</PlotSetting>

  <PlotSetting type="preamble">set style line 3 lc rgb '#FF0000' lt 1 lw 2 pt 7 ps 1.5</PlotSetting>
  <PlotSetting type="plotOption">'-' using 1:4 with lines ls 3 title "Funct 1-3"</PlotSetting>
</PlotConfig_1>

<PlotConfig_2>
  <PlotSetting type="preamble">set title "Simple Plot 2" font ",20"</PlotSetting>
  <PlotSetting type="delimiter">;</PlotSetting>
  <PlotSetting type="howManyDataToPlot">10</PlotSetting>
  <PlotSetting type="preamble">set xrange [* : *]</PlotSetting>
  <PlotSetting type="preamble">set yrange [0 : *]</PlotSetting>
  <PlotSetting type="id">2</PlotSetting>

  <PlotSetting type="preamble">set style line 1 lc rgb '#004400' lt 1 lw 2 pt 7 ps 1.5</PlotSetting>
  <PlotSetting type="plotOption">'-' using 1:2 with lines ls 1 title "Funct 2-1"</PlotSetting>

  <PlotSetting type="preamble">set style line 2 lc rgb '#008800' lt 1 lw 2 pt 7 ps 1.5</PlotSetting>
  <PlotSetting type="plotOption">'-' using 1:3 with lines ls 2 title "Funct 2-2"</PlotSetting>

  <PlotSetting type="preamble">set style line 3 lc rgb '#00FF00' lt 1 lw 2 pt 7 ps 1.5</PlotSetting>
  <PlotSetting type="plotOption">'-' using 1:4 with lines ls 3 title "Funct 2-3"</PlotSetting>
</PlotConfig_2>

<PlotConfig_3>
  <PlotSetting type="preamble">set title "Simple Plot 3" font ",20"</PlotSetting>
  <PlotSetting type="delimiter">;</PlotSetting>
  <PlotSetting type="howManyDataToPlot">10</PlotSetting>
  <PlotSetting type="preamble">set xrange [* : *]</PlotSetting>
  <PlotSetting type="preamble">set yrange [0 : *]</PlotSetting>
  <PlotSetting type="id">3</PlotSetting>

  <PlotSetting type="preamble">set style line 1 lc rgb '#004444' lt 1 lw 2 pt 7 ps 1.5</PlotSetting>
  <PlotSetting type="plotOption">'-' using 1:2 with lines ls 1 title "Funct 3-1"</PlotSetting>

  <PlotSetting type="preamble">set style line 2 lc rgb '#008888' lt 1 lw 2 pt 7 ps 1.5</PlotSetting>
  <PlotSetting type="plotOption">'-' using 1:3 with lines ls 2 title "Funct 3-2"</PlotSetting>

  <PlotSetting type="preamble">set style line 3 lc rgb '#00FFFF' lt 1 lw 2 pt 7 ps 1.5</PlotSetting>
  <PlotSetting type="plotOption">'-' using 1:4 with lines ls 3 title "Funct 3-3"</PlotSetting>
</PlotConfig_3>

<PlotConfig_4>
  <PlotSetting type="preamble">set title "Simple Plot 4" font ",20"</PlotSetting>
  <PlotSetting type="delimiter">;</PlotSetting>
  <PlotSetting type="howManyDataToPlot">10</PlotSetting>
  <PlotSetting type="preamble">set xrange [* : *]</PlotSetting>
  <PlotSetting type="preamble">set yrange [0 : *]</PlotSetting>
  <PlotSetting type="id">4</PlotSetting>

  <PlotSetting type="preamble">set style line 1 lc rgb '#444400' lt 1 lw 2 pt 7 ps 1.5</PlotSetting>
  <PlotSetting type="plotOption">'-' using 1:2 with lines ls 1 title "Funct 4-1"</PlotSetting>

  <PlotSetting type="preamble">set style line 2 lc rgb '#888800' lt 1 lw 2 pt 7 ps 1.5</PlotSetting>
  <PlotSetting type="plotOption">'-' using 1:3 with lines ls 2 title "Funct 4-2"</PlotSetting>

  <PlotSetting type="preamble">set style line 3 lc rgb '#FFFF00' lt 1 lw 2 pt 7 ps 1.5</PlotSetting>
  <PlotSetting type="plotOption">'-' using 1:4 with lines ls 3 title "Funct 4-3"</PlotSetting>
</PlotConfig_4>
